USE [master]
GO
/****** Object:  Database [CarsAppDb]    Script Date: 2018-12-22 10:41:19 ******/
CREATE DATABASE [CarsAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarsAppDb', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\CarsAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarsAppDb_log', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\CarsAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarsAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarsAppDb]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 2018-12-22 10:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](128) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Photo] [nvarchar](128) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
