@{
    ViewBag.Title = "Strona główna";
}

<div>
    <h1>KUP SE KOSZULKĘ!!!!!!!!!!!!</h1>
    <!--lista wypunktowana opcji menu-->
    <ul>
        <li>@Html.ActionLink("Informacje o stronie", "About", "Home")</li>
        <li>@Html.ActionLink("Zarezerwuj swoją koszulkę JUŻ TERAZ", "Register", "Home")</li>

        <li>@Html.ActionLink("Zobacz listę szczęśliwych nabywców koszulek", "ViewUsers", "Home")</li>
    </ul>
    <p>Zadanie domowe lab 6</p>
</div>