@{
    ViewBag.Title = "Informacje";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h9>Strona stworzona na 6 zajęcia</h9>
<p>Na stronie można zarezorować koszulkę z numerem podanym przez użytkownika</p>
<img src="~/Content/Images/koszulka.jpg" >
