@{
  
        ViewBag.Title = "Kontakt";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

<!--kontakt do firmy-->
    <h9>Firma koszulek: "KUP SE KOSZULKĘ!!!!!!!!!!!!" Inc.</h9>
    <p>ulica Morska Ostrów Wielkopolski</p>