
@{
    ViewBag.Title = "InterestingLinks";
}

<h2>InterestingLinks</h2>

<!--ponizej ciekawe linki do innych stron-->
<li>
    <a href=" http://www.niezalezna.pl/" target="_blank">Niezalezna</a>
</li> 