USE [master]
GO
/****** Object:  Database [ZD4]    Script Date: 2018-12-03 19:42:45 ******/
CREATE DATABASE [ZD4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZD4', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\ZD4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZD4_log', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\ZD4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZD4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZD4]
GO
/****** Object:  Table [dbo].[Table_Customer]    Script Date: 2018-12-03 19:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nchar](50) NULL,
	[LastName] [nchar](50) NULL,
	[City] [nchar](50) NULL,
	[Adress] [nchar](300) NULL,
 CONSTRAINT [PK_Table_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
