USE [master]
GO
/****** Object:  Database [ZD6]    Script Date: 2018-12-22 16:31:44 ******/
CREATE DATABASE [ZD6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZD6', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\ZD6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZD6_log', FILENAME = N'D:\KREDEK\sql Root\MSSQL14.MICHALSQL\MSSQL\DATA\ZD6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZD6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZD6]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2018-12-22 16:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
